body{
    background-color: rgb(7, 4, 39);
    font-family: 'Times New Roman', Times, serif;
    font-style: italic;
    font-size: 2.5vh;
    color: azure;
}
main {
    padding: 1rem; 
}
table {
    width: 80%;
    margin:auto;
    background-color: white;
    color: black;
    opacity: 0.9;
    border: 1rem solid white; 
}
.icon-container,
.cart label {
    min-width: 140px;
    margin-left: 4rem;
}
.card {
    display: inline-block;
    vertical-align: top;
    min-height: 75vh;
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 45vh;
}
.register {
    padding: 1rem;
    position: relative;
}
.register hr {
    width: 40%;
}
.thank {
    position: absolute;
    top: 0;
    right: 0;
}
.splash {
    width: 100%;
    height: auto;
}
.columns {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding:  1rem;
}